Create a markdown cell with the title of the notebook

In [2]:
from IPython.display import display, Markdown
title = "# Data Science Tools and Ecosystem"
display(Markdown(title))

# Data Science Tools and Ecosystem

Create a markdown cell for an introduction

In [4]:
from IPython.display import display, Markdown
intro_sentence = "In this notebook, Data Science Tools and Ecosystem are summarized."
display(Markdown(intro_sentence))

In this notebook, Data Science Tools and Ecosystem are summarized.

Create a markdown cell to list data science languages.

In [6]:
from IPython.display import display, Markdown
languages_overview = """
Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala
"""
display(Markdown(languages_overview))

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Create a markdown cell to list data science libraries.

In [7]:
from IPython.display import display, Markdown
libraries_overview = """
Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. SciPy
5. Scikit-learn
"""
display(Markdown(libraries_overview))

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. SciPy
5. Scikit-learn

Create a markdown cell with a table of Data Science tools

In [8]:
from IPython.display import display, Markdown
tools_table = """
| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |
"""
display(Markdown(tools_table))

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

Create a markdown cell introducing arithmetic expression examples

In [10]:
from IPython.display import display, Markdown
intro_arithmetic = "### Below are a few examples of evaluating arithmetic expressions in Python."
display(Markdown(intro_arithmetic))
arithmetic_examples = """
1 + 2 * 3
(4 - 2) * (5 + 1)
10 / 2 + 5
"""
display(Markdown(arithmetic_examples))

### Below are a few examples of evaluating arithmetic expressions in Python.

1 + 2 * 3
(4 - 2) * (5 + 1)
10 / 2 + 5

Create a code cell to multiply and add numbers

In [11]:
result = (3 * 4) + 5
result

17

Create a code cell to convert minutes to hours

In [12]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

Insert a markdown cell to list Objectives.

In [13]:
from IPython.display import display, Markdown
intro_arithmetic = "### Below are a few examples of evaluating arithmetic expressions in Python."
display(Markdown(intro_arithmetic))
objectives = """
**Objectives:**

- List popular languages for Data Science in Python
- Highlight commonly used libraries in Data Science
- Introduce arithmetic expression examples in Python
"""
display(Markdown(objectives))

### Below are a few examples of evaluating arithmetic expressions in Python.

**Objectives:**

- List popular languages for Data Science in Python
- Highlight commonly used libraries in Data Science
- Introduce arithmetic expression examples in Python

Create a markdown cell to indicate the Authorâ€™s name

In [15]:
from IPython.display import display, Markdown
author_info = "## Author\n\nAyush Saha"  
display(Markdown(author_info))

## Author

Ayush Saha